<div class="container mt-5" style="max-width: 800px;">
    <h1>Sensors</h1>
    <% @sensors.each do |sensor| %>
        <div class="card mt-2">
            <div class="p-2 d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <%= link_to sensor.name, sensor_path(sensor), class: "text-decoration-none" %>
                </div>
            </div>
        </div>
    <% end %>
</div>
